doctype 5
html(lang='en')
head
    meta(charset='utf-8')
    title= rPiTV
    link(href='css/style.css' rel='stylesheet' type='text/css')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
body
    #loader.status.fadeInDown.animated.hidden Y
    .logo
    .logo-txt
        h2 rPiTV
    .time-block
